In [1]:
import pandas as pd

In [2]:
port_1 = pd.read_csv("estaticos_portfolio1.csv")
port_2 = pd.read_csv("estaticos_portfolio2.csv")
port_3 = pd.read_csv("estaticos_portfolio3.csv")
mercado = pd.read_csv("estaticos_market.csv")

In [3]:
mercado.columns.values

array(['Unnamed: 0', 'id', 'fl_matriz', 'de_natureza_juridica', 'sg_uf',
       'natureza_juridica_macro', 'de_ramo', 'setor',
       'idade_empresa_anos', 'idade_emp_cat', 'fl_me', 'fl_sa', 'fl_epp',
       'fl_mei', 'fl_ltda', 'dt_situacao', 'fl_st_especial', 'fl_email',
       'fl_telefone', 'fl_rm', 'nm_divisao', 'nm_segmento', 'fl_spa',
       'fl_antt', 'fl_veiculo', 'vl_total_tancagem',
       'vl_total_veiculos_antt', 'vl_total_veiculos_leves',
       'vl_total_veiculos_pesados', 'fl_optante_simples', 'qt_art',
       'vl_total_veiculos_pesados_grupo', 'vl_total_veiculos_leves_grupo',
       'vl_total_tancagem_grupo', 'vl_total_veiculos_antt_grupo',
       'vl_potenc_cons_oleo_gas', 'fl_optante_simei', 'sg_uf_matriz',
       'de_saude_tributaria', 'de_saude_rescencia', 'nu_meses_rescencia',
       'de_nivel_atividade', 'de_indicador_telefone',
       'fl_simples_irregular', 'vl_frota',
       'empsetorcensitariofaixarendapopulacao', 'nm_meso_regiao',
       'nm_micro_regiao', 'fl_passivel_iss', 'qt_socios', 'qt_socios_pf',
       'qt_socios_pj', 'idade_media_socios', 'idade_maxima_socios',
       'idade_minima_socios', 'qt_socios_st_regular',
       'qt_socios_st_suspensa', 'qt_socios_masculino',
       'qt_socios_feminino', 'qt_socios_pep', 'qt_alteracao_socio_total',
       'qt_alteracao_socio_90d', 'qt_alteracao_socio_180d',
       'qt_alteracao_socio_365d', 'qt_socios_pj_ativos',
       'qt_socios_pj_nulos', 'qt_socios_pj_baixados',
       'qt_socios_pj_suspensos', 'qt_socios_pj_inaptos',
       'vl_idade_media_socios_pj', 'vl_idade_maxima_socios_pj',
       'vl_idade_minima_socios_pj', 'qt_coligados', 'qt_socios_coligados',
       'qt_coligados_matriz', 'qt_coligados_ativo',
       'qt_coligados_baixada', 'qt_coligados_inapta',
       'qt_coligados_suspensa', 'qt_coligados_nula',
       'idade_media_coligadas', 'idade_maxima_coligadas',
       'idade_minima_coligadas', 'coligada_mais_nova_ativa',
       'coligada_mais_antiga_ativa', 'idade_media_coligadas_ativas',
       'coligada_mais_nova_baixada', 'coligada_mais_antiga_baixada',
       'idade_media_coligadas_baixadas', 'qt_coligados_sa',
       'qt_coligados_me', 'qt_coligados_mei', 'qt_coligados_ltda',
       'qt_coligados_epp', 'qt_coligados_norte', 'qt_coligados_sul',
       'qt_coligados_nordeste', 'qt_coligados_centro',
       'qt_coligados_sudeste', 'qt_coligados_exterior',
       'qt_ufs_coligados', 'qt_regioes_coligados', 'qt_ramos_coligados',
       'qt_coligados_industria', 'qt_coligados_agropecuaria',
       'qt_coligados_comercio', 'qt_coligados_servi√ßo',
       'qt_coligados_ccivil', 'qt_funcionarios_coligados',
       'qt_funcionarios_coligados_gp', 'media_funcionarios_coligados_gp',
       'max_funcionarios_coligados_gp', 'min_funcionarios_coligados_gp',
       'vl_folha_coligados', 'media_vl_folha_coligados',
       'max_vl_folha_coligados', 'min_vl_folha_coligados',
       'vl_folha_coligados_gp', 'media_vl_folha_coligados_gp',
       'max_vl_folha_coligados_gp', 'min_vl_folha_coligados_gp',
       'faturamento_est_coligados', 'media_faturamento_est_coligados',
       'max_faturamento_est_coligados', 'min_faturamento_est_coligados',
       'faturamento_est_coligados_gp',
       'media_faturamento_est_coligados_gp',
       'max_faturamento_est_coligados_gp',
       'min_faturamento_est_coligados_gp', 'total_filiais_coligados',
       'media_filiais_coligados', 'max_filiais_coligados',
       'min_filiais_coligados', 'qt_coligados_atividade_alto',
       'qt_coligados_atividade_medio', 'qt_coligados_atividade_baixo',
       'qt_coligados_atividade_mt_baixo',
       'qt_coligados_atividade_inativo', 'qt_coligadas',
       'sum_faturamento_estimado_coligadas',
       'de_faixa_faturamento_estimado',
       'de_faixa_faturamento_estimado_grupo',
       'vl_faturamento_estimado_aux', 'vl_faturamento_estimado_grupo_aux',
       'qt_ex_funcionarios', 'qt_funcionarios_grupo',
       'percent_func_genero_masc', 'percent_func_genero_fem',
       'idade_ate_18', 'idade_de_19_a_23', 'idade_de_24_a_28',
       'idade_de_29_a_33', 'idade_de_34_a_38', 'idade_de_39_a_43',
       'idade_de_44_a_48', 'idade_de_49_a_53', 'idade_de_54_a_58',
       'idade_acima_de_58', 'grau_instrucao_macro_analfabeto',
       'grau_instrucao_macro_escolaridade_fundamental',
       'grau_instrucao_macro_escolaridade_media',
       'grau_instrucao_macro_escolaridade_superior',
       'grau_instrucao_macro_desconhecido', 'total',
       'meses_ultima_contratacaco', 'qt_admitidos_12meses',
       'qt_desligados_12meses', 'qt_desligados', 'qt_admitidos',
       'media_meses_servicos_all', 'max_meses_servicos_all',
       'min_meses_servicos_all', 'media_meses_servicos',
       'max_meses_servicos', 'min_meses_servicos', 'qt_funcionarios',
       'qt_funcionarios_12meses', 'qt_funcionarios_24meses',
       'tx_crescimento_12meses', 'tx_crescimento_24meses',
       'tx_rotatividade', 'qt_filiais'], dtype=object)

In [4]:
mercado.describe()

,Unnamed: 0,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,462298.00000,462298.000000,280.000000,176.000000,30684.000000,30684.000000,6590.000000,460371.000000,460371.000000,1760.000000,...,76261.000000,76261.000000,76261.000000,103574.000000,103574.000000,103574.000000,73888.000000,74014.000000,103574.000000,462298.000000
mean,231148.50000,9.948677,32.014286,3.818182,2.244329,1.177813,5.769044,3.591801,48.699177,134.597159,...,58.060498,96.661983,36.258851,12.324570,12.178529,14.343329,3.097607,-5.834288,9.510699,28.737044
std,133454.08171,9.615664,81.280168,6.797555,9.572536,6.589059,25.450950,72.600352,1206.696804,683.774506,...,142.951278,279.541243,123.411370,222.456579,222.584458,239.885359,163.581549,443.825819,27.918737,468.626094
min,0.00000,0.016438,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,1.933333,1.933333,1.933333,0.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000
25%,115574.25000,2.756164,15.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,15.000000,...,25.203704,33.333333,6.966667,0.000000,0.000000,0.000000,0.000000,-44.444444,0.000000,0.000000
50%,231148.50000,6.704110,15.000000,2.000000,1.000000,0.000000,2.000000,0.000000,0.000000,15.000000,...,43.533333,61.766667,23.200000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,346722.75000,14.465753,30.000000,4.000000,2.000000,1.000000,4.000000,0.000000,0.000000,66.250000,...,68.883333,96.266667,46.500000,5.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000
max,462297.00000,106.432877,1215.000000,50.000000,489.000000,363.000000,1017.000000,9782.000000,122090.000000,11922.000000,...,5099.066667,5099.066667,5099.066667,51547.000000,51547.000000,54205.000000,27800.000000,87300.000000,1400.000000,9647.000000

In [5]:
port_1.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,...,NaN,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4
2,2,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,18.726027,15 a 20,...,39.454762,91.2,19.333333,14.0,15.0,25.0,-6.666667,-44.0,0.0,3

In [6]:
port_2.head()

   Unnamed: 0                                                 id
0           0  09e95c1a84049001d086470a8f320a19b076f955a89122...
1           1  dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...
2           2  16843c9ffb920170477118933798510d8d5f00f5c56c12...
3           3  ff045934d90aab184dd15e66daf3b3c97193bda5449298...
4           4  a0ce528caab2c62497a548d0ebd9e935143ef81ed7dbf0...

In [7]:
port_3.head()

   Unnamed: 0                                                 id
0           0  bb61c09449a1c1f8b78955d8b7a7f73599e78358993fe2...
1           1  16843c9ffb920170477118933798510d8d5f00f5c56c12...
2           2  1b8d092daff12bed8b3c2ab93bf5df2921865a68aca185...
3           3  3aafa3a1f12f483740a52956af100223333d0e3c79bf2c...
4           4  c60431fbca90067f105570e1e8a684bcd7048205bbf6c4...

In [8]:
mercado.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRU√á√ÉO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVI√áO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVI√áO,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVI√áO,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVI√áO,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [26]:
port1 = port_1.drop(['Unnamed: 0'] , axis='columns')
port2 = port_2.drop(['Unnamed: 0'] , axis='columns')
port3 = port_3.drop(['Unnamed: 0'] , axis='columns')
merc = mercado.drop(['Unnamed: 0'] , axis='columns')

In [29]:
p1 = port1.copy()

In [27]:
p2 = pd.merge(port2, merc, on='id', how='inner')
p2.head()

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_me,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,09e95c1a84049001d086470a8f320a19b076f955a89122...,True,AUTARQUIA ESTADUAL OU DO DISTRITO FEDERAL,AC,ADMINISTRACAO PUBLICA,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVI√áO,11.243836,10 a 15,False,...,99.961009,357.066667,25.533333,1361.0,1361.0,1383.0,0.000000,-1.590745,0.000000,0
1,dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVI√áO,43.789041,> 20,False,...,149.173091,526.133333,23.200000,991.0,991.0,1306.0,0.000000,-24.119449,0.000000,0
2,16843c9ffb920170477118933798510d8d5f00f5c56c12...,True,SOCIEDADE SIMPLES LIMITADA,PI,ENTIDADES EMPRESARIAIS,SERVICOS DE EDUCACAO,SERVI√áO,16.389041,15 a 20,False,...,65.942017,149.033333,4.866667,119.0,104.0,113.0,14.423077,5.309735,6.250000,0
3,ff045934d90aab184dd15e66daf3b3c97193bda5449298...,True,MUNICIPIO,AM,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVI√áO,39.671233,> 20,False,...,144.013013,555.766667,28.300000,1829.0,1829.0,1875.0,0.000000,-2.453333,0.000000,1
4,a0ce528caab2c62497a548d0ebd9e935143ef81ed7dbf0...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,PRODUTOS DE AGROPECUARIA,AGROPECUARIA,20.268493,> 20,False,...,14.610734,134.833333,2.933333,177.0,130.0,120.0,36.153846,47.500000,41.042345,0

In [28]:
p3 = pd.merge(port3, merc, on='id', how='inner')
p3.head()

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_me,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,bb61c09449a1c1f8b78955d8b7a7f73599e78358993fe2...,True,MUNICIPIO,MA,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVI√áO,21.813699,> 20,False,...,144.663535,259.166667,40.500000,745.0,745.0,745.0,0.000000,0.000000,0.00,2
1,16843c9ffb920170477118933798510d8d5f00f5c56c12...,True,SOCIEDADE SIMPLES LIMITADA,PI,ENTIDADES EMPRESARIAIS,SERVICOS DE EDUCACAO,SERVI√áO,16.389041,15 a 20,False,...,65.942017,149.033333,4.866667,119.0,104.0,113.0,14.423077,5.309735,6.25,0
2,1b8d092daff12bed8b3c2ab93bf5df2921865a68aca185...,True,ORGAO PUBLICO DO PODER EXECUTIVO ESTADUAL OU D...,AM,ADMINISTRACAO PUBLICA,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVI√áO,40.380822,> 20,False,...,284.854706,557.866667,24.200000,170.0,170.0,177.0,0.000000,-3.954802,0.00,0
3,3aafa3a1f12f483740a52956af100223333d0e3c79bf2c...,True,MUNICIPIO,PI,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVI√áO,43.854795,> 20,False,...,189.020309,506.966667,31.333333,151.0,151.0,151.0,0.000000,0.000000,0.00,0
4,c60431fbca90067f105570e1e8a684bcd7048205bbf6c4...,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVI√áO,43.865753,> 20,False,...,238.418341,556.833333,34.033333,229.0,229.0,418.0,0.000000,-45.215311,0.00,1

In [30]:
p1.describe()

,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,vl_total_veiculos_antt_grupo,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,555.000000,0.0,0.0,38.000000,38.000000,4.000000,555.000000,555.000000,0.0,0.0,...,101.000000,101.000000,101.000000,131.000000,131.000000,131.000000,97.000000,91.000000,131.000000,555.000000
mean,10.139247,NaN,NaN,1.473684,0.526316,3.250000,0.861261,0.542342,NaN,NaN,...,49.929006,72.989769,33.615512,4.458015,4.679389,4.908397,-0.132325,-2.073969,9.557799,1.236036
std,9.641625,NaN,NaN,1.309773,1.330248,3.201562,16.312180,8.502044,NaN,NaN,...,40.968949,61.443495,37.410508,9.053057,9.875585,9.396767,40.324314,124.955846,28.315487,16.288026
min,0.052055,NaN,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,NaN,NaN,...,5.406667,5.800000,2.166667,0.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000
25%,2.924658,NaN,NaN,1.000000,0.000000,1.750000,0.000000,0.000000,NaN,NaN,...,22.323077,25.233333,5.966667,1.000000,0.000000,0.000000,0.000000,-45.076923,0.000000,0.000000
50%,6.709589,NaN,NaN,1.000000,0.000000,2.000000,0.000000,0.000000,NaN,NaN,...,41.966667,54.700000,22.133333,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,15.494521,NaN,NaN,2.000000,0.750000,3.500000,0.000000,0.000000,NaN,NaN,...,65.916667,93.266667,48.566667,4.000000,4.500000,5.000000,0.000000,0.000000,0.000000,0.000000
max,47.517808,NaN,NaN,6.000000,7.000000,8.000000,382.000000,199.000000,NaN,NaN,...,228.155556,309.333333,192.633333,70.000000,75.000000,74.000000,200.000000,800.000000,213.333333,374.000000

In [31]:
p2.describe()

,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,vl_total_veiculos_antt_grupo,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,566.000000,27.000000,5.00000,490.000000,490.000000,262.000000,566.000000,566.000000,30.000000,5.00000,...,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,565.000000,565.000000,566.000000,566.000000
mean,26.987691,39.296296,15.80000,11.644898,9.848980,11.160305,10.408127,11.726148,45.866667,15.80000,...,94.172965,339.436926,13.697291,370.293286,367.766784,427.118375,4.744764,53.795368,13.800580,3.434629
std,11.638360,67.564109,16.22344,27.506765,24.114791,31.223043,36.865715,31.275328,78.134161,16.22344,...,67.050637,519.334007,22.534602,980.644568,980.705292,1044.708444,28.293918,857.744622,18.287564,11.803635
min,10.038356,10.000000,2.00000,0.000000,0.000000,1.000000,0.000000,0.000000,10.000000,2.00000,...,5.554139,7.600000,1.933333,16.000000,0.000000,0.000000,-79.462103,-87.276959,0.000000,0.000000
25%,17.832192,15.000000,6.00000,2.000000,0.000000,1.000000,0.000000,1.000000,15.000000,6.00000,...,43.726361,156.066667,2.441667,89.000000,85.000000,98.000000,-0.980392,-21.848739,0.000000,0.000000
50%,23.402740,15.000000,6.00000,5.000000,2.000000,3.000000,1.000000,4.000000,17.500000,6.00000,...,69.795530,256.016667,3.933333,148.000000,144.000000,177.000000,0.000000,-6.993007,8.463573,1.000000
75%,38.628082,30.000000,25.00000,10.000000,8.000000,9.000000,7.000000,10.000000,30.000000,25.00000,...,146.368911,438.916667,24.358333,326.250000,326.250000,378.750000,5.000000,0.000000,19.840451,2.000000
max,55.126027,360.000000,40.00000,359.000000,215.000000,426.000000,663.000000,371.000000,385.000000,40.00000,...,459.969011,5099.066667,409.133333,17952.000000,17943.000000,18346.000000,376.315789,17800.000000,133.877551,172.000000

In [32]:
p3.describe()

,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,vl_total_veiculos_antt_grupo,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,265.000000,10.00000,0.0,221.000000,221.000000,130.000000,265.000000,265.000000,10.000000,0.0,...,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,264.000000,265.000000,265.000000
mean,27.762502,22.00000,NaN,12.285068,9.040724,21.515385,7.784906,10.675472,25.000000,NaN,...,129.434890,472.160000,20.391447,468.600000,466.452830,517.211321,51.831156,53.023882,6.566275,2.554717
std,14.119603,11.83216,NaN,35.029406,25.104747,87.800181,23.765325,32.952220,11.547005,NaN,...,73.440840,729.179311,17.520471,494.568957,501.007703,552.040156,780.173996,785.511769,11.827838,12.010011
min,0.761644,15.00000,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,15.000000,NaN,...,5.947005,6.000000,1.966667,68.000000,2.000000,0.000000,-29.632653,-63.101875,0.000000,0.000000
25%,17.638356,15.00000,NaN,2.000000,0.000000,2.250000,0.000000,1.000000,15.000000,NaN,...,58.735333,251.500000,2.933333,188.000000,184.000000,193.000000,0.000000,-13.157823,0.000000,0.000000
50%,24.073973,15.00000,NaN,4.000000,3.000000,6.000000,1.000000,3.000000,22.500000,NaN,...,138.385891,414.333333,23.933333,313.000000,313.000000,336.000000,0.000000,-3.763898,0.000000,0.000000
75%,43.800000,26.25000,NaN,9.000000,7.000000,14.000000,6.000000,8.000000,30.000000,NaN,...,182.091830,521.366667,29.066667,539.000000,541.000000,635.000000,0.000000,0.000000,11.393693,1.000000
max,51.808219,45.00000,NaN,359.000000,215.000000,912.000000,215.000000,371.000000,45.000000,NaN,...,353.954938,5099.066667,112.166667,3919.000000,3919.000000,4243.000000,12700.000000,12700.000000,101.086957,172.000000

In [34]:
p1.shape

(555, 181)

In [35]:
p2.shape

(566, 181)

In [36]:
p3.shape

(265, 181)